Repository bachya/aioambient, pull requests merged in 2023-08, with the labels that each got.

#290 Add `rtx` config file
  .rtx.toml
Labels: dependencies

#291 Pin dependencies to resolve several CVEs
  poetry.lock
  pyproject.toml
Labels: dependencies, security

#300 Replace U+2013 "–" with ASCII character U+002d "-"
  aioambient/websocket.py
Labels: maintenance
